body {
    background-color: #f8f9fa;
}

#dashboard {
    margin-top: 20px;
}

.server-card {
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.server-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}